@import url(https://fonts.google.com/specimen/Poppins);
:root {

    /* Primary */
    --Purple: rgb(133, 77, 255);
    --Light-red: hsl(0, 100%, 67%);

    /* Neutrall */
    --White: rgb(255, 255, 255);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    transition: all ease .3s;
}

body {
    background-color: var(--Light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--White);
    width: 720px;
    border-radius: .75rem .75rem 28% .75rem;
    padding: 2rem;
    margin: 4rem;
}

.container .inputs {
    display: flex;
    width: 100%;
}
.container .inputs .box{
    width: 100%;
}

.container .inputs p{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--Smokey-grey);
}
.container .inputs input {
    margin-top: 8px;
    padding: 12px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--Light-grey);
    outline: none;
    font-size: 32px;
    font-weight: 800;
}

.container .inputs input:focus {
    border-color: var(--Purple);
}

.container .inputs input::placeholder {
    color: var(--Smokey-grey);
}
.container .inputs .box.errorInput p {
    color: var(--Light-red) !important;
    display: block !important;
}
.container  .inputs .box.errorInput input {
    border-color: var(--Light-red);
}
.container .inputs .error{
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;
    display: none;
    margin-top:8px;
    font-size: 10px;
    font-weight: normal;
    color: var(--Light-red);
}
.box.show .inputs .error{
    display: block;
}
.container .submit {
    display: flex;
    align-items: center;
}

.container .submit span {
    border-radius: 2px;
    height: 2px;
    width: 100%;
    background-color: var(--Light-grey);
}

.container .submit button {
    padding: 12px;
    width: 72px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--Purple);
    cursor: pointer;
    transition: ease .4s;
}

.container .submit button:hover {
    background-color: var(--Off-black);
}

.container .submit button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .result div{
    font-style: italic;
    font-weight: 800;
    font-size: 64px;
    color: var(--Off-black);
}
.container .result div p{
    color: var(--Purple);
}

#resultYear, #resultMonth, #resultDay {
    display: flex;
}


@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        padding:2rem 1rem;
        margin: 1rem;
        border-bottom-right-radius: 22%;
    }
    .container .inputs {
        gap: 8px;
    }
    .container .inputs p{
        font-size: 12px;
    }
    .container .inputs input {
        width: 52px;
        height: 24px;
        font-size: 16px;
    }
    .container .submit {
        margin: 3rem 0;
        position: relative;
    }
    
    .container .submit button {
        width: 52px;
        height: 52px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .container .result div{
        font-size: 42px;
    }

}